//
// Grid
//

.grid {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 $grid-gutter-width * 0.5;

  @each $viewport, $breakpoint in $breakpoints {
    @include make-grid($viewport, $breakpoint);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 (-$grid-gutter-width * 0.5);

  @each $viewport, $breakpoint in $breakpoints {
    @include make-row($viewport, $breakpoint);
  }
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding: 0 ($grid-gutter-width * 0.5);

  @each $viewport, $breakpoint in $breakpoints {
    @include make-col($viewport, $breakpoint, $columns, $flex-order-count);
  }
}
