//
// Variables
//


// Grid
$breakpoints: (
  xs: (
    min: 0px,
    max: 575px,
    width: 100%
  ),
  sm: (
    min: 576px,
    max: 767px,
    width: 540px
  ),
  md: (
    min: 768px,
    max: 991px,
    tar: 720px
  ),
  lg: (
    min: 992px,
    max: 1199px,
    width: 960px
  ),
  xl: (
    min: 1200px,
    max: 100%,
    width: 1140px
  )
);

$grid-gutter-width: 30px;

$columns: 12;

$flex-order-count: $columns; // Do not decrease because of compatibility with existing markup!


// Colors
$brand-primary: #dd2400;
$brand-primary-light: lighten($brand-primary, 25%);
$brand-primary-dark: darken($brand-primary, 25%);

$brand-secondary: yellow;
$brand-secondary-light: lighten($brand-secondary, 25%);
$brand-secondary-dark: darken($brand-secondary, 25%);

$brand-success: green;
$brand-success-light: lighten($brand-success, 25%);
$brand-success-dark: darken($brand-success, 25%);

$brand-info: blue;
$brand-info-light: lighten($brand-info, 25%);
$brand-info-dark: darken($brand-info, 25%);

$brand-danger: pink;
$brand-danger-light: lighten($brand-danger, 25%);
$brand-danger-dark: darken($brand-danger, 25%);

$black: #000;
$grey-darkest: lighten($black, 12.5%);
$grey-darker: lighten($black, 25%);
$grey-dark: lighten($black, 37.5%);
$grey: lighten($black, 50%);
$grey-light: lighten($black, 62.5%);
$grey-lighter: lighten($black, 75%);
$grey-lightest: #ededed;
$white: #fff;

$transition-duration: 200ms;


// Fonts
$font-family-sans-serif: 'Work Sans';
$font-family-serif: 'Times New Roman';

$font-size-base: 1.6rem;
$font-size-small: $font-size-base * 0.75;
$font-size-large: $font-size-base * 1.25;

$font-size-h1: 6rem;
$font-size-h2: 2.6rem;
$font-size-h3: $font-size-base * 3;
$font-size-h4: $font-size-base * 2;
$font-size-h5: $font-size-base * 1;
$font-size-h6: $font-size-base * 0.75;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-heavy: 700;

$text-color: $grey-darker;
$link-color: $brand-primary;
$link-color-hover: $brand-primary-dark;
$link-color-focus: $link-color;
