//
// Grid
//

// Grid
@mixin make-default-grid($viewport, $breakpoint) {
  @if($viewport != 'xs') {
    @include media-up($viewport) {
      max-width: map-get($breakpoint, width);
    }
  }
}

@mixin make-grid($viewport, $breakpoint) {
  @include make-default-grid($viewport, $breakpoint);
}

// Rows
@mixin make-align-items($viewport) {
  &--#{$viewport}-top {
    align-items: flex-start;
  }

  &--#{$viewport}-middle {
    align-items: center;
  }

  &--#{$viewport}-bottom {
    align-items: flex-end;
  }
}

@mixin make-justify-items($viewport) {
  &--#{$viewport}-left {
    justify-content: flex-start;
  }

  &--#{$viewport}-center {
    justify-content: center;
  }

  &--#{$viewport}-right {
    justify-content: flex-end;
  }
}

@mixin make-row-reverse($viewport) {
  &--#{$viewport}-reverse {
    flex-direction: row-reverse;
  }
}

@mixin make-row($viewport, $breakpoint) {
  @include media-up($viewport) {
    @include make-align-items($viewport);
    @include make-justify-items($viewport);
    @include make-row-reverse($viewport);
  }
}

// Columns
@mixin make-default-col($viewport) {
  &--#{$viewport} {
    flex-grow: 1;
    flex-basis: 0;
  }
}

@mixin make-boxed-col($viewport, $columns) {
  @for $column from 1 to $columns + 1 {
    &--#{$viewport}-#{$column} {
      flex-basis: 100% / $columns * $column;
    }
  }
}

@mixin make-offset-col($viewport, $columns) {
  @for $column from 1 to $columns + 1 {
    &--#{$viewport}-offset-#{$column} {
      margin-left: 100% / $columns * $column;
    }
  }
}

@mixin make-push-col($viewport, $columns) {
  @for $column from 0 to $columns {
    &--#{$viewport}-push-#{$column} {
      left: 100% / $columns * $column;
    }
  }
}

@mixin make-pull-col($viewport, $columns) {
  @for $column from 1 to $columns {
    &--#{$viewport}-pull-#{$column} {
      right: 100% / $columns * $column;
    }
  }
}

@mixin make-align-self($viewport) {
  &--#{$viewport}-top {
    align-self: flex-start;
  }

  &--#{$viewport}-middle {
    align-self: center;
  }

  &--#{$viewport}-bottom {
    align-self: flex-end;
  }
}

@mixin make-justify-self($viewport) {
  &--#{$viewport}-left {
    justify-self: flex-start;
  }

  &--#{$viewport}-center {
    justify-self: center;
  }

  &--#{$viewport}-right {
    justify-self: flex-end;
  }
}

@mixin make-col-order($viewport, $flex-order-count) {
  @for $order-number from 1 to $flex-order-count + 1 {
    &--#{$viewport}-order-#{$order-number} {
      order: $order-number;
    }
  }
}

@mixin make-col($viewport, $breakpoint, $columns, $flex-order-count) {
  @include media-up($viewport) {
    @include make-default-col($viewport);
    @include make-boxed-col($viewport, $columns);
    @include make-offset-col($viewport, $columns);
    @include make-push-col($viewport, $columns);
    @include make-pull-col($viewport, $columns);
    @include make-align-self($viewport);
    @include make-justify-self($viewport);
    @include make-col-order($viewport, $flex-order-count);
  }
}
